{% extends 'shop/basic.html' %}

{% block title %} About Us {% endblock %}
<style>
 .row{
    padding-left: 30%;
 }

</style>
{% block body %} 

<div class="jumbotron">
    <div class="container">
    <h1 class="display-4">The Health Company</h1>
    <p class="lead">THC® was founded in 2022 with the idea of providing India with high quality nutrition that are specifically focused on Indian customer needs and listens to their sentiments day in day out.
      THC® has quickly risen as consumer’s favorite brand with industry-first concept introductions like authenticity, test certificates, scoop on top, clinically researched products, etc.
    </p>
    </div>
</div>

<div class="jumbotron">
    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <h5>Industry-First Innovations</h5>
            <br>
            <p>Understanding and acting upon the consumer pulse have always driven THC® to provide industry-first solutions. Be it the problem of fake products , customers’ tussle in finding the scoop in a new jar or low results from a regular protein supplement, THC had answers to all of them.</p>
            
          </div>
          <div class="col-md-4">
            <h5>High-Quality Ingredients & Processes</h5>
            <br>
            <p>Our passion for bringing international-grade fitness supplements has made us look around the world to source the very best whey and flavors. At THC® quality doesn’t just end at procuring the finest raw materials</p>
            
          </div>
          <div class="col-md-4">
            <h5>Research Oriented</h5>
            <br>
            <p>Driven by the desire to exceed your expectations, we have brought together pharmaceutical expertise and the best experts of the chocolate flavor to create a path-breaking formulation with unmatched taste.
              This gave birth to the "Best Tasting Chocolate Whey Protein Shake", which was confirmed by the consumers themselves in a blind taste study done by Nielsen in 2015.<p>
            
          </div>
        </div>
    
</div>
{% endblock %}



